html {
    scroll-behavior: smooth !important;
  }

  a {
    text-decoration: none !important;
}

header{
    font-size: 2em;
    font-weight: 600;
}

.sidebar {
 height: 100% !important;
 position: fixed !important;
 z-index: 1 !important;
 top: 0;
 left: 0;
 border-right: solid 3px #b2b2b2;
}

nav {
    height: 100%;
}
ul.menuItems {
    margin: 0;
    padding: 0;
    height: 90%;
    position: absolute;
    overflow-y: scroll;
    width: 100%;
top: 0;

}

ul.menuItems > a {
  
    color: #000000;
    opacity: 0.8;
}
ul.menuItems > a:hover {
  
    color: #b2b2b2;
    opacity: 1;
}

ul.menuItems::-webkit-scrollbar {
    background: #e0e0e0;
    width: 10px;
}
ul.menuItems::-webkit-scrollbar-track  {
    background: #f3f3f3;
    box-shadow: inset 0 0 5px #bdbdbd; 
}
ul.menuItems::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 10px;
}
ul.menuItems::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
}

ul.menuItems > a > li {
    list-style: none;
    padding: 10px 15px;
    border-top: solid 1px #bdbdbd;
    margin: 0 auto;
    text-align: center; 

}

.bg-grey {
    background: #e2e2e2 !important;
    color: #000000;
}

 ::selection {
     background: #333333;
     color: #ffffff;
 }


 .blockquote {
    margin-bottom: 0 !important;
    font-size: 1rem !important;
}

section {
min-height: 100vh;
 }


 .pad-top-10 {
padding-top: 10% !important; 
 }


 #myBtn {
    display: none;  
    position: fixed; 
    bottom: 20px;  
    right: 30px;  
    z-index: 99;  
    border: none;  
    outline: none;  
    background-color: #3f3f3f;  
    color: white;  
    cursor: pointer;  
    padding: 15px;  
    border-radius: 10px; 
    font-size: 18px;   
opacity: .8;
}
  
  #myBtn:hover {
    background-color: #141414; 
  }